.columnHeader {
	border-radius: 8px;
	max-width: 335px;
	height: 56px;
	background: #121212;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: 14px;
}

.columnTitle {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: #fff;

}

.headerSvgContainer {
	display: flex;
	gap: 8px;
	align-items: flex-end;
	justify-content: flex-end;
}

.contentTitle {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: #fff;
	line-height: normal;
	margin-bottom: 8px;
}

.contentText {
	font-weight: 400;
	font-size: 12px;
	line-height: 133%;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.5);
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	position: relative;

}

.cardContainer {
	border-radius: 8px;
	max-width: 335px;
	background: #121212;
	position: relative;
	padding: 14px 24px;
}

.infoContainer {
	display: flex;
	align-items: flex-end;
	gap: 14px;
}

.infoTitle {
	font-weight: 400;
	font-size: 8px;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.5);
}

.infoText {
	font-weight: 400;
	font-size: 10px;
	letter-spacing: -0.02em;
	color: #fff;
}

.priority {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.deadlineContainer {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	gap: 7px;
}

.infoIcons {
	display: flex;
	align-items: center;

	gap: 8px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 4px;
}

.headerSvgButton {
	width: 16px;
	height: 16px;
	border: 0;
	color: #8fa1d0;
}

.contentContainer {
	position: relative;
	margin-bottom: 28px;
}

.contentContainer::after {
	content: '';
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	bottom: -14px;

}

.cardContainer::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 100%;
	border-radius: 4px 0 0 4px;
	background: #8fa1d0;
}



.infoColor {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #BEDBB0;
}

.icon {
	background-color: #121212;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {

	.icon:hover {
		color: #bedbb0;
	}
}