.customInput {
	background: none;
	border: none;
	padding: 0;
	color: var(--color-green);
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: color 0.3s ease-in-out;
}

.arrowIcon {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}

.arrow {
	width: 18px;
	height: 18px;
	color: var(--color-green);
	transition: color 0.3s ease-in-out;
}

.arrowIcon.open  {
	transform: rotate(180deg);
}

.customInput:hover,
.customInput:active,
.customInput:hover .arrow,
.customInput:active .arrow {
	color: var(--color-green-dark);
}

.active {
	color: var(--color-green-dark);
}