.card {
  display: flex;
  align-items: center;
  padding: 22px 24px;
  gap: 4px;
  position: relative;
  cursor: pointer;
}

.card:focus, .cardActive {
  background-color: var(--help-sidebar);
}

.cardActive::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px 0 0 4px;
  width: 4px;
  height: 100%;
  background-color: var(--bg-add-user);
}

.cardSvg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  opacity: 0.5;
}

.btnSvg {
  width: 16px;
  height: 16px;
  color: var(--text-sidebar-rgb);
}

.title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--titel-sidebar);
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
}

.cardActive .title, .cardActive .cardSvg {
  opacity: 1;
}

.btnBlock {
  visibility: hidden;
  display: flex;
  gap: 8px;
}

.cardActive .btnBlock {
  visibility: visible;
}

.card, .cardActive, .btnSvg, .cardSvg {
  transition: all 0.3s ease-in-out;
}
