.input {
	width: 100%;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-text-base);
	border: 1px solid var(--color-green-border);
	border-radius: 8px;
	box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
	background-color: var(--color-modal-time);
	padding: 14px 18px;
}

.input:focus {
	outline: none;
	border: 1px solid var(--color-green);
}

.listIcons {
	display: flex;
	gap: 8px;

}

.icon {
	width: 18px;
	height: 18px;
	opacity: 0.5;
	color: var(--card-text);
}



.inputIcon:checked+.labeIcon .icon {
	opacity: 1;
}

.inputIcon {
	display: none;
}

.text {

	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-text-base);
	margin: 24px 0 14px;
}

.listBackground {
	width: 280px;
	display: flex;
	gap: 4px;
	margin-bottom: 40px;
	flex-wrap: wrap;
}

.backgroundBox {
	border-radius: 8px;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	
}

.emptyPicture {
	width: 28;
	height: 28px;
	fill: var(--modal-icon);
	color: rgb(56, 55, 55);
	
}

.iconImg {
	width: 28;
	height: 28px;
	border-radius: 8px;
	cursor: pointer;
}

.errors {
	position: relative;
	bottom: -6px;
	font-size: 10px;
	color: rgba(255, 0, 0, 0.788);
	left: 18px;
}

.input.error {
	border-color: rgba(255, 0, 0, 0.788);
}