.card {
	display: flex;
	align-items: center;
	padding: 20px 18px 20px 14px;
	gap: 4px;
	background-color: var(--background-dark-light);
	position: relative;
}

.cardActive::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 4px 0 0 4px;
	width: 4px;
	height: 100%;
	background-color: var(--color-green);
}

.cardSvg {
	width: 18px;
	height: 18px;
	flex-shrink: 0;
}

.btnSvg {
	width: 16px;
	height: 16px;
	stroke: var(--color-gray);
}

.btn {
	background-color: inherit;
	color: var(--color-gray);
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {

	.btn:hover {
		color: var(--color-green);
	}
}

.btnBlock {
	display: flex;
	gap: 8px;
}

.title {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-white);
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}