
.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cardsList {
	display: flex;
	gap: 8px;
	flex-direction: column;
}

.scrollable {
	overflow-y: auto;
	max-height: calc(100vh - 20px);
}