.noProjectNotify {
	width: 486px;
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: -0.02em;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.dashboardBackground {
	background: #1f1f1f;
	height: 100vh;
	padding: 14px 20px 24px;
}

.noProjectContainer {
	display: flex;
	justify-content: center;
}

.filter {
	display: flex;
	background: inherit;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border: 0;
}

.filterContainer {
	position: absolute;
	right: 20px;
	display: flex;
}

.filterText {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.8);
}

.headerText {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: #fff;
}

.addColumnButton {
	border-radius: 8px;
	width: 334px;
	height: 56px;
	background: #121212;
	display: flex;
	border: 0;
	align-items: center;
	justify-content: center;

}

.buttonText {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: #fff;
}

/*.dashboardContainer {
	margin-bottom: 20px;
	margin-top: 20px;

}*/

.plusSvg {
	background: #fff;
	border-radius: 8px;
	margin-right: 8px;
}

.columnsContainer {
	display: flex;
	overflow-x: auto;
	/*padding: 10px;*/
	gap: 10px;
}