.noProjectNotify {
	width: 486px;
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: -0.02em;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.dashboardBackground {
	background: #1f1f1f;
	height: 100vh;
	overflow: auto;
	padding: 14px 20px 36px 14px;
}

.noProjectContainer {
	display: flex;
	justify-content: center;
}

.filter {
	display: flex;
	background: inherit;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border: 0;
}

.filterContainer {
	position:static;
	right: 0;
	display: flex;
	justify-content:space-between;
	
}

.filterText {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.8);
}

.headerText {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: #fff;
}

.addColumnButton {
	border-radius: 8px;
	max-width: 334px;
	height: 56px;
	background: #121212;
	display: flex;
	border: 0;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-left: 10px;
	white-space: nowrap;

}

.buttonText {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: #fff;
}

.plusSvg {
	background: #fff;
	border-radius: 8px;
	margin-right: 8px;
}

.columnsWrapper {
	padding-bottom: 10px;
	padding-top: 14px;
}

.columnsContainer {
	display: flex;
	width: 100%;
	gap: 10px;
}


@media screen and (max-width: 768px) {
	.dashboardBackground {
		padding: 26px 32px 96px 32px;
		}
	.columnsWrapper {
	padding-top: 26px;
	}

	.headerText{
		font-size: 18px;
	}
	.columnsContainer{
		gap: 34px;
	}
}

@media screen and (max-width: 375px) {
	.dashboardBackground {
		padding: 14px 20px 60px 20px;
	}
	.headerText{
	font-size: 14px;
	}
	.columnsWrapper {
	padding-top: 40px;
	}
}