.columnContainer {
	display: flex;
	flex-direction: column;
	max-width: 335px;
	width: 100%;
	flex-shrink: 0;
	flex-grow: 1;
	height: 100%;
	position: relative;
}

@media (max-width: 320px) {
	.columnContainer {
		max-width: 295px;
	}
}

.columnHeader {
	border-radius: 8px;
	max-width: 334px;
	height: 56px;
	background-color: var(--main-todo);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: 14px;
}

@media (max-width: 320px) {
	.columnHeader {
		width: 295px;
	}
}

.columnTitle {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: var(--color-text-base);
}

.headerSvgContainer {
	display: flex;
	gap: 8px;
	align-items: flex-end;
	justify-content: flex-end;
}

.infoContainer {
	display: flex;
	gap: 14px;
	padding: 0 18px 14px 20px;
}

.infoTitle {
	font-weight: 400;
	font-size: 8px;
	letter-spacing: -0.02em;
	color: var(--color-gray);
	padding-bottom: 4px;
}

.infoText {
	font-weight: 400;
	font-size: 10px;
	letter-spacing: -0.02em;
	color: var(--color-white);
}

.headerSvgButton {
	width: 16px;
	height: 16px;
}

.section {
	display: flex;
	margin-bottom: 14px;
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	margin-right: -12px;
}

@media (max-width: 1440px) {
	.section {
		margin-right: -16px;
	}
}

@media (max-width: 768px) {
	.section {
		margin-right: -14px;
	}
}

@media (max-width: 320px) {
	.section {
		max-width: 305px;
	}
}

.section::-webkit-scrollbar {
	width: 8px;
	height: 100%;
}

.section::-webkit-scrollbar-thumb {
	background-color: var(--scroll-col);
	border-radius: 12px;
}

.section::-webkit-scrollbar-track {
	background-color: var(--scroll-bg);
	border-radius: 12px;
	border: 1px solid rgba(128, 128, 128, 0.39);
}

.wrap {
	display: flex;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
}

.iconTrash,
.iconPencil {
	color: var(--card-text);
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {

	.iconTrash:hover,
	.iconPencil:hover {
		color: var(--color-green-dark);
	}
}

.tooltip {
	position: absolute;
	top: 47px;
	left: 140px;
	padding: 10px;
	background-color: var(--color-modal-time);
	border: 1px solid var(--color-green-border);
	border-radius: 8px;
	max-width: 175px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-size: 11px;
	word-break: break-all;
	color: var(--card-text);
	z-index: 1000;
}