.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
}

.modalContainer {
	background-color: var(--background-dark);
	border: 1px solid rgba(190, 219, 176, 0.5);
	border-radius: 8px;
	padding: 18px;
	width: 155px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.listItem:not(:last-child) {
	margin-bottom: 10px;
}

.text {
	font-size: 14px;
}

.done {
	color: var(--color-green);
}

.progress {
	font-size: 14px;
	color: #7c7c7c;
}

.icon {
	width: 16px;
	height: 16px;
	background: none;
}