.container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	margin-top: -12px;
	border-top: 1px solid var(--modal-border-line);
	padding-top: 16px;
}

.labelTitle {
	margin-bottom: 14px;
	margin-top: -10px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: var(--color-text-base);
}

.radioGroup {
	display: flex;
	flex-direction: column;
}

.radioLabel {
	display: flex;
	align-items: center;

	position: relative;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.5;
}

.radioLabel:not(:last-child) {
	margin-bottom: 8px;
}

.radioInput {
	display: none;
}

.labelText {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: -0.02em;
	color: var(--card-text);
	margin-left: 8px;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {

	.labelText:hover {
		color: var(--color-text-base);
	}
}

.customRadio {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: currentColor;
	position: relative;
	transition: all 0.2s ease;
}

.customRadio::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: transparent;
	border: 2px solid transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease;
}

.radioInput:checked+.customRadio {
	border: 1px solid currentColor;
	background: var(--color-modal-time);
}

.radioInput:checked+.customRadio::before {
	background: currentColor;
	border-color: currentColor;
}


.lowLabel {
	color: var(--priority-low);
}

.mediumLabel {
	color: var(--priority-medium);
}

.highLabel {
	color: var(--priority-high);
}

.withoutLabel {
	color: var(--priority-without);
}

.showAll {
	font-size: 12px;
	color: var(--card-text);
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {

	.showAll:hover {
		color: var(--color-green-dark);
	}
}